.userList {
  /* display: flex; */
  padding: 12px;
}
.row {
  display: flex;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 5%;
}
.name {
  color: var(--elred-text-t-1, #313030);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.title {
  color: var(--elred-text-t-3, #848484);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.lineUserList {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  opacity: 0.75;
  margin: 20px 0;
}
