.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.appScreen {
  width: 375px;
  height: 700px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* background-color: blue; */
  padding: 1% 0;

  background-image: url("./Assets/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  overflow: hidden;
}
